
.backC{
  height: 666px;
  background: #fff;
  .logo-box{
    margin-top:50px; 
    width:200px;
    height:77px;
  }
  .am-list-item .am-input-label.am-input-label-5 {
    width:40px;
  }
  .loginBtn{
    background: rgb(190, 20, 28);
  }
} 

