.padTB30{
  padding:50px 0 180px 0;
  background:#fff;
  .title{
    text-Indent:15px;
    margin:10px 0;
  }
  .subTitle{
    color: #aaa;
    text-Indent:15px;
    margin: 20px 0 50px 0;
  }
  .am-list-item.am-input-item{
    height: 65px;
  }
  .my-radio .am-radio {
    padding: 2.5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 5px;
  }
}
